VERIFA_API_KEY=vk_sandbox_...
# VERIFA_API_URL=https://api.withverifa.com
# Public URL of this machine for --webhooks (Verifa will not deliver to localhost):
# WEBHOOK_PUBLIC_URL=https://xxxx.trycloudflare.com
# WEBHOOK_PORT=8787
